@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,300&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2136D4;
    height: 5vh;
    width: 100%;
}

.main {
  
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    top:5vh;
}

.left {
    width: 60%;
  
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart {
width: 100%;
height: 5%;
display: flex;
flex-direction: row;
}
.left_arrow {
    margin: 0.5rem;
width: 1rem;
height: 1rem;
cursor: pointer;
}

div.cart_message p span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.625rem;

color: #000000;
}
.savings{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
background: #F0F5FE;
border-radius: 8px;
}
div.savings p {
    margin: 0.5rem;
    color:#2136D4;
    font-size: 1.2rem;
}
.celeb_container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid #D9D9D9;
    border-radius: 0px 0px 10px 10px;
}
div.celeb p:first-of-type{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.675rem;
color: #323232;
margin-left: 0.5rem;
}

div.celeb p:last-of-type {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 0.875rem;
/* identical to box height */
margin: 0.5rem 0.5rem;
text-align: center;

color: #A6A6A6;
}

div.celeb_buttons {
    display: flex;
    flex-direction: row;
    height: auto;
    width :auto;
}
div.celeb_buttons button {
    margin: 0.625rem;
}
div.celeb_buttons button:first-of-type{
    border: 0.2px solid #2136D4;
    border-radius: 16px;
    background-color: #ffffff;
}
div.celeb_buttons button:first-of-type p{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.1875rem;
margin: 0.625rem;

color: #2136D4;

}
div.celeb_buttons button:last-of-type {
    border: 0.5px solid #D9D9D9;
    border-radius: 16px;
    background-color: #ffffff;
}
div.celeb_buttons button:last-of-type p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.1875rem;
text-align: center;
margin: 0.625rem;
color: #323232;

}
.card_container {
    height: 24%;
    width: 100%;
    border: 0.5px solid #D9D9D9;
    border-radius: 25px;
}




div.card {
    display: flex;
    flex-direction: row;
    height: 80%;
}
div.card img:first-child {
    border-radius: 12.5px;
    height: 100%;
}
div.card_details {
    width: 75%;
}
div.card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.card_footer p {
    margin: 0.625rem;
}
div.card_footer p:first-of-type {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
/* line-height: 22px; */

color: #0F0F0F;
}

div.card_footer p:last-of-type {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
/* line-height: 22px; */
text-align: center;

color: #2136D4;

}
div.card_details_header {
    height: 33.33;

    display: flex;
    flex-direction: row;
    margin: 0.3125rem;
    justify-content: space-between;
}
div.card_details div:first-of-type img {
    width: 1.2rem;
    margin-right: 0.5rem;
}
div.card_title {
    
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.125rem;
/* or 28px */


color: #323232;

}

div.card_details div:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 0.525rem;
    height: 33.33%;
}
div.card_details div:nth-child(2) p {
    margin: 0.625rem;
}
div.card_details div:nth-child(2) p:nth-child(1) {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
/* or 120% */

display: flex;
align-items: center;

color: #323232;

}

div.card_details div:nth-child(2) p:nth-child(2) {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 1.125rem;
/* or 147% */

display: flex;
align-items: center;
text-decoration-line: line-through;

color: #828282;

}

div.card_details div:nth-child(2) p:nth-child(3) {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
/* or 132% */

display: flex;
align-items: center;

color: #00A807;

}

div.card_details div:nth-child(3) {
    margin: 0.625rem;
    height: 33.33%;
}

div.card_details div:nth-child(3) p span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;

color: #323232;

}
div.card_footer {
    border: 0.5px solid #D9D9D9;
    border-radius: 0 0 25px 25px;
    height: 20%;
}

.one_img p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
color: #FFFFFF;
}

.card2_container{
    height: 45%;
    width: 100%;
    margin-top: 5.5%;

border: 0.5px solid #D9D9D9;
border-radius: 25px;
    display: flex;
    flex-direction: column;
}
div.card2_container div.card2_title {
    display: flex;
    flex-direction: row;
    padding: 0.3125px;
    height: 20%;
}
div.card2_container div.card2_title img.face {
    margin: 0.3125rem;
    width: 1.625rem;
}
div.card2_container div.card2_title p {
    margin: 0.3125rem;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
text-align: center;
text-transform: capitalize;

color: #505960;
}
div.card2_container div:nth-child(2) button {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0.3125rem;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 0.8125rem;
text-align: center;
text-transform: capitalize;

color: #979797;

margin: 0.3125rem;
} 
div.card2_container div:nth-child(2) button:nth-child(1) {
    background: #2136D4;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 0.8125rem;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #FFFFFF;
padding: 0.3125rem;

}

div.card2_container div.list {
    display: flex;
    flex-direction: row;
    margin: 0.3125rem;
   height: 80%;
}
div.list_display {
    width: 25%;
    height: 90%;
}
div.card2_container div.list img {
    height: 45%;
}
div.list_display {
    display: flex;
    flex-direction: column;
    margin: 0.3125rem;
    border: 0.5px solid #D9D9D9;
border-radius: 6.1244px;
box-sizing: border-box;
}
div.price {
    border: 0.5px solid #D9D9D9;
    border-radius: 6.1244px;
    height: 15%;
}
div.card2_container div.list div p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 00;
font-size: 1rem;
/* or 19px */


color: #101010;

}
div.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.325rem;
}

div.Add {
    font-family: 'Roboto';
font-style: normal;
font-weight: 550;
font-size: 1rem;
/* identical to box height, or 30px */

letter-spacing: 0.06em;

color: #2136D4;

}
.right {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

div.gift_container {
width: 95%;
height: 18%;
background: #F0F5FE;
border-radius: 8px;
margin-left: 2%;
}

div.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.325rem;
}

div.offer div p:first-of-type {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 1rem;

color: #000000;

}
div.offer div p:last-of-type {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    
    color: #2136D4;
       
    
}

div.offer_pic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.325rem;
}
div.offer_pic div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0.325rem;
}
div.offer_pic div:nth-child(2) p:first-of-type {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1rem;
/* identical to box height */


color: #000000;

}
div.offer_pic div:nth-child(2) p:last-of-type {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1rem;
/* identical to box height */


color: #2136D4;

}

div.locked {
    background: #D9D9D9;
border-radius: 5px;
display: flex;
flex-direction: row;
height: 50%;
}
div.locked img,p {
    margin: 0.325rem;
}
div.pay_container {
    margin-top: 2%;
width: 95%;
height: 33%;
border: 0.5px solid #D9D9D9;
border-radius: 25px;
margin-left: 2%;
}

div.pay_container div:nth-child(1) p span {
    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.05rem;
/* or 22px */

text-transform: uppercase;

color: #101010;
}

div.empty {
    background: #F0F5FE;
border-radius: 8px;
height: 1.675rem;
}
div.line p {
    font-family: 'Roboto';
    color: #2136D4;
}
div.line_icon {
    display: flex;
    flex-direction: row;
}
div.pay_container div:nth-child(6) {
    background: #2136D4;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    height: 13%;
}
div.pay_container div:nth-child(6) p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
text-transform: uppercase;

color: #FFFFFF;

}

div.change {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.25rem;


color: #2136D4;

}
div.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
}
div.bill {
    width: 95%;
    height: 33%;
    padding: 5px;
    border: 0.5px solid #D9D9D9;
    border-radius: 25px;
    margin-top: 2rem;
    margin-left: 2%;
}
div.bill p {
    font-size: 1rem;
}
div.bill div:first-of-type {
    background: #F0F5FE;
border: 0.5px solid #FFFFFF;
border-radius: 8px;
justify-content: center;
text-align: center;
}
div.bill div:first-of-type p {
    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1rem;

color: #2136D4;

}

div.bill div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.bill div:last-of-type b {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1rem;
text-transform: lowercase;
text-align: center;
color: #000000;
padding-top: 8px;
}

div.bill div:last-of-type b,img {
    margin : 3px;
}

@media screen and (max-width: 860px) {
    html {
        font-size: 13px;
    }
}
@media screen and (max-width: 730px) {
    html {
        font-size: 11px;
    }
}
@media screen and (max-width: 630px) {
    html {
        font-size: 10px;
    }
    div.main {
        flex-direction: column;
    }
    div.left {
        width: 95%;
        height: auto;
    }
    div.right {
        height: auto;
        width: 95%;
    }
    div.pay_container {
        height:auto;
        margin-top: 2rem;
    }
    div.bill {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 8px;
    }
}